---
import MainLayout from "src/layouts/main.astro";
import BlogPostMetaInfo from "src/components/BlogPostMetaInfo.astro";
import { getCollection, getEntry } from "astro:content";
import WindowsXP from "src/components/WindowsXP.astro";
import Header from "src/components/Header.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content, remarkPluginFrontmatter } = await entry.render();
const imagePath = `og-image.png`;
---

<MainLayout
  title={entry.data.title}
  description={entry.data.description}
  imagePath={imagePath}
  isArticle
>
  <WindowsXP title={entry.data.title}>
    <Header />
    <div class="xp-content">
      <article class="space-y-5">
        <header class="space-y-1.5 md:space-y-0.5 mx-auto max-w-screen-xl">
          <h1 class="text-xl md:text-2xl text-black font-semibold">
            {entry.data.title}
          </h1>
          <h2 class="text-md md:text-lg">{entry.data.description}</h2>
          <BlogPostMetaInfo
            entry={entry}
            readingTime={remarkPluginFrontmatter.minutesRead}
          />
        </header>
        <section class="prose leading-7 text-base tracking-wide max-w-none">
          <Content />
        </section>
      </article>
    </div>
  </WindowsXP>
</MainLayout>
