---
import { ViewTransitions } from 'astro:transitions'

import Header from 'src/components/Header.astro'
const DESCRIPTION = 'Developer based in İstanbul, Türkiye'
import 'src/styles/globals.css'

const { pathname, origin } = Astro.url
const url = `${origin}${pathname}`

const { title = 'Alper Doğan', description = DESCRIPTION, imagePath, isArticle = false } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta content="#18181B" name="theme-color" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@alperdogan" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:url" content={url} />
		<link rel="canonical" href={url} />
		<meta property="og:type" content={isArticle ? "article" : "website"} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={url} />
		{imagePath && (
			<meta property="twitter:image" content={`${url}${imagePath}`} slot="og-tags" />
			<meta property="og:image" content={`${url}${imagePath}`} slot="og-tags" />
		)}
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="learning, education, tutorial, web development, nuxtjs, vuejs"/>
		<ViewTransitions />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="preload"
			href="/fonts/Poppins-Regular.ttf"
			as="font"
			type="font/ttf"
			crossorigin
		/>
	</head>
	<body class="mx-auto max-w-screen-xl p-6 bg-neutral-100 text-zinc-900">
		<Header pathname={pathname} />
		<main class="space-y-5 mt-10">
			<slot />
		</main>
	</body>
</html>
