---
import Header from 'src/components/Header.vue'
import ThemeButton from 'src/components/ThemeButton.vue'
import 'src/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'

const DESCRIPTION = 'Developer based in İstanbul, Türkiye'
const { pathname, origin } = Astro.url
const url = `${origin}${pathname}`

const { title = 'Alper Doğan' } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={title} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta content="#18181B" name="theme-color" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@alperdogan" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={DESCRIPTION} />
		<meta name="twitter:url" content={url} />
		<link rel="canonical" href={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={DESCRIPTION} />
		<meta property="og:url" content={url} />
		<meta name="robots" content="index, follow" />
		<link rel="manifest" href="/site.webmanifest" />
		<ViewTransitions />
		<script is:inline>
		// this should work after this PR: https://github.com/withastro/astro/pull/7786
			document.addEventListener('astro:beforeload', () => {
			const localTheme = localStorage.getItem("theme")
				console.log('[AA]')
				const theme = (() => {
					if (
						typeof localStorage !== 'undefined' &&
					localTheme
					) {
						return localTheme
					}
					if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
						return 'dark'
					}
					return 'light'
				})()

				if (theme === 'light') {
					document.documentElement.classList.add('light')
					document.documentElement.classList.remove('dark')
				} else {
					document.documentElement.classList.remove('light')
					document.documentElement.classList.add('dark')
				}
			}, {once: true})
		</script>
	</head>
	<body
		class="mx-auto max-w-screen-xl dark:bg-neutral-800 bg-neutral-200 dark:text-slate-400 text-zinc-600 p-6"
	>
		<Header pathname={pathname}>
			<ThemeButton client:idle />
		</Header>
		<main class="space-y-10 mt-10">
			<slot />
		</main>
	</body>
</html>
